mat-card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}