<div class="flex-center" style="height: 80vh;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="this.loginForm.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.loginForm.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

        <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 2rem;">
          <button mat-raised-button color="primary">Sign In</button>
          <button mat-button type="submit">Sign Up</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>